<div class="parallax"></div>

<div class="wrapper">
	<div class="content">
		<p class="opening">
			Welcome to FindWater, a community designed to let you know where you can refill your water bottle, for free, instead of purchasing a bottle. Plastic bottles are a huge problem in the world and our goal is to create a resource where you can easily find locations to refill your own water bottle. Reducing plastic consumption will make the world a better place! As a member please check out our map and find locations the locations where you can refill yur water bottle, also if a place that you know allows you to refill your water bottle please add it to our map, so our members will know where they can get water.
		</p> 
	</div>
</div>

<div class="parallax" id="second"></div>

<div class="wrapper">
	<div class="content">
		<p class="opening">
		According to the Container Recycling Institute, 100.7 billion plastic beverage bottles were sold in the U.S. in 2014, or 315 bottles per person.
		</p> 
	</div>
</div>

<div class="parallax" id="third"></div>

<div class="wrapper">
	<div class="content">
		<p class="opening">
		57% of those units were plastic water bottles: 57.3 billion sold in 2014. This is up from 3.8 billion plastic water bottles sold in 1996, the earliest year for available data.
		</p> 
	</div>
</div>

<div class="parallax" id="fourth"></div>

<div class="wrapper">
	<div class="content">
		<p class="opening">
		The process of producing bottled water requires around 6 times as much water per bottle as there is in the container.
		</p> 
	</div>
</div>

<div class="parallax" id="fifth"></div>
<div class="wrapper">
	<div class="content">
		<p class="opening">
		14% of all litter comes from beverage containers. When caps and labels are considered, the number is higher.
		</p> 
	</div>
</div>
