<h1>Maps Show</h1>

Welcome to FindWater, plastic bottles are a huge problem in the world and our goal is to create a resource where you can easily find locations to refill your own water bottle for free. Reducing plastics consumption will make the world a better place! As a member please check out our map and find locations taht you can refill yur water bottle, also if a place that you know allows you to refill you water please add so our members will know where they can get water.


According to the Container Recycling Institute, 100.7 billion plastic beverage bottles were sold in the U.S. in 2014, or 315 bottles per person.

57% of those units were plastic water bottles: 57.3 billion sold in 2014. This is up from 3.8 billion plastic water bottles sold in 1996, the earliest year for available data.

The process of producing bottled water requires around 6 times as much water per bottle as there is in the container.

14% of all litter comes from beverage containers. When caps and labels are considered, the number is higher.

<div>
	<% @user.each do |a|%>
		<%= a.email %>
	<% end %>
</div>