* {
    margin: 0;
    padding: 0;
}

.navbar {
	position: fixed;
	background-color: grey;
	overflow: hidden;
	// text-align: center;
	width: 100%;

}

.logo {
	padding: 10px 10px;
	float:right;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
}

li {
	// width: 18.5%;
	display: block;
	float: left;
	padding: 10px 10px;
}

li a {
	text-decoration: none;
	color: white;
	font-family: Arial, sans-serif;
}

li:hover {
	background-color: blue;
}

