// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
	bottom: 0px;
	height: 500px;
	left: 362px;
	position: absolute;
	right: 0px;
}

.container {
	height: 500px;
	position: relative;
}

.options-box {
	background: #fff;
	border: 1px solid black;
	height: 91.75%;
	line-height: 35px;
	padding: 10px 10px 30px 10px;
	text-align: left;
	width: 340px;
}

#zoom-to-area-text{
	width:200px;
}

#description {
	width: 300px;
}