<div class="parallax" id="first"></div>

<div class="wrapper">
	<div class="content">
		<h1> Location show </h1>
		<div><%= @location.title %></div>	
		<div><%= @location.description %></div>
		<p><%= link_to "Remove Location", location_path, method: :delete %></p>
	</div>
</div>

<div class="parallax" id="second"></div>